@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body,html {
    background-color: rgb(168, 229, 252);
}

header{
    background-color: white;
}

header>h1{
    padding: 10px;
    text-align: center;
    text-shadow: 1.2px 1.2px 0px rgba(0, 0, 0, 0.288);
}

span#burger{
    background-color: rgb(155, 151, 151);
    color: white;
    text-align: center;
    display: block;
    padding: 5px;
    cursor: pointer;
}

span#burger:hover{
    background-color: rgba(0, 0, 0, 0.76);

}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    background-color: rgb(221, 219, 219);
    color: rgb(44, 44, 44);
    border-top: 2px solid white;
}

menu > ul> li> a:hover{
    background-color: rgb(180, 176, 176);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

article > h2{
    padding-bottom: 20px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}