@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #28ED7A, #2AFA62);
}

main{
    background-color: white;
    box-shadow: 5px 5px 15px #14631db9;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #1c5a09;
    text-align: center;
    text-shadow: 1px 1px 2px #0e4614b6;
}

h2{
    color: #1d972b;
}

p {
    text-align: justify;

}